@model CollectorsPlace.Models.ResetPasswordModel

@{
    ViewBag.Title = "ForgotPassword";
}

<div id="home">

    <div class="centerHome">

	    @Html.Partial("_ResumeApp")

        <section id="accounts">

                 @using (Html.BeginForm())
                 {
             
                    <p>@Html.AntiForgeryToken()</p>
                    <p>@Html.ValidationSummary(true)</p>

                    if(ViewBag.conf!="")
                    {
                        <p class="message-success">@ViewBag.conf</p>
                    }

                    <fieldset id="logindF">
                        <legend><i class="icon-bookmark-empty"></i>Enter your email to reset your password:</legend>
                        <ol>
                            <li class="logindL">
                                @Html.TextBoxFor(m => m.UserEmail, new {placeholder = "EMAIL"})
                            </li>
                            <li class="confirm">
                                <button type="submit" class="signup signupL">Confirm</button>
                            </li>
                        </ol>
                    </fieldset>
                }

        </section>

    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
