@model CollectorsPlace.Models.EditArticle

@{
    ViewBag.Title = "Edit Article";
}

<div class="home">

    <div class="home-left">
        @Html.Partial("_ProfileLeft", Model.Profile)
    </div>

    <div class="wrap-dir">

        <div class="home-direita-bar">

            <p>Tera Anuncios</p>

            <p>Ou Recomendacoes</p>

        </div>

        <div class="home-direita">

            <div class="header-home-direita">
            
                <p><i class="icon-tags"></i>Edit Article</p>
        
            </div>

            <div class="body-home-direita">

                <div class="rule">

                    @using (Html.BeginForm())
                    {
                            @Html.ValidationSummary(true)

                                @Html.HiddenFor(model => model.Article.ArticleId)
                    
                                <div class="editor-row space">

                                    <div class="imageArticle">
                        
                                        <img src="~/Images/articles/@Model.Article.CollAvatar" title="imagemArt" class="imagem-article" id="artimg" />
                                    
                                    </div>
                                 
                                    <div class="editor-row-inner">   
                                        @Html.LabelFor(model => model.Article.Name)
                                
                                        @Html.EditorFor(model => model.Article.Name)
                                        @Html.ValidationMessageFor(model => model.Article.Name)
                                
                                    </div>

                                    <div class="editor-row-innerC">

                                        @Html.LabelFor(model => model.Article.Description)

                                        <div class="textwrap">
                                            @Html.TextAreaFor(model => model.Article.Description)
                                            @Html.ValidationMessageFor(model => model.Article.Description)
                                        </div>

                                    </div>

                                    <div class="editor-row-inner">

                                        <div style="margin-left: 300px">
                                            <input id="artupload" type="file" name="artupload">
                                        </div>

                                    </div>

                                </div>

                                <div class="editor-model-Edit">
                    
                                    <div class="tryCenter">

                                        <div class="editor-row">

                                            @Html.LabelFor(model => model.Article.AcquiredDate)

                                            @Html.EditorFor(model => model.Article.AcquiredDate)
                                            @Html.ValidationMessageFor(model => model.Article.AcquiredDate)

                                        </div>
                    
                                        <div class="editor-row">

                                            @Html.LabelFor(model => model.Article.EstimatedValue)
                                
                                            @Html.EditorFor(model => model.Article.EstimatedValue)
                                            @Html.ValidationMessageFor(model => model.Article.EstimatedValue)

                                        </div>
                                
                                        <div class="editor-row">

                                            @Html.LabelFor(model => model.CollId, "Collection")
                                    
                                            @Html.DropDownList("CollId", String.Empty)
                                            @Html.ValidationMessageFor(model => model.CollId)

                                        </div>

                                        <div class="editor-row">
                                            
                                            <p>
                                                <label for="bdvenda">Venda</label>
                                                <input type="checkbox" name="bdvenda" id="bdvenda" @if(Model.Article.BusinessDisponibility==1 || Model.Article.BusinessDisponibility==3){ @Html.Raw("checked=\"checked\""); } value="1" />
                                            </p>

                                            <p>
                                                <label for="bdtroca">Troca</label>
                                                <input type="checkbox" name="bdtroca" id="bdtroca" @if(Model.Article.BusinessDisponibility==2 || Model.Article.BusinessDisponibility==3){ @Html.Raw("checked=\"checked\""); } value="1" />
                                            </p>

                                        </div>

                                    </div>

                                </div>
                    
                
                    <div class="editor-row space">
                    
                        <p class="tagH">Tags:</p>
                
                    </div>
                
                    <div class="editor-row space">
                    
                        <ul id="tags">
                        
                            @if (ViewBag.tags != null)
                            {
                                foreach (string s in ViewBag.tags)
                                {
                                     <li>@s</li>
                                }
                            }
                        </ul>
                        @if(ViewBag.tags==null)
                        {
                               <span class="field-validation-error">Tags Empty</span>
                        }
                
                    </div>
            
            
                <div id="options">
                
                        <input type="submit" class="botoes" value="Save" />
                        <button type="reset" class="botoes" value="Cancel">Cancel</button>
                    </div>

                    }
            
                </div>

            </div>

        </div>

    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*@Scripts.Render("~/bundles/jqueryui")*@
    @Scripts.Render("~/bundles/tagit")
    @Scripts.Render("~/bundles/upload")
}

<script>

    $(document).ready(function () {

        var token = "@(Request.Cookies[FormsAuthentication.FormsCookieName]==null ? string.Empty : Request.Cookies[FormsAuthentication.FormsCookieName].Value)";
        var sessionId = "@Session.SessionID";

        $('#artupload').uploadify({
            auto: true,
            swf: "/Scripts/uploadify.swf",
            uploader: "/Articles/UploadImage/",
            multi: 'false',
            fileSizeLimit: '5MB',
            method: 'post',
            fileTypeExts: '*.jpg;*.jpeg;*.gif;*.png',
            fileTypeDesc: 'Image Files',
            buttonText: 'Choose Image',
            formData: { SessionId: sessionId, Token: token, id:"@Model.Article.ArticleId" },
            onUploadSuccess: function (file, data, response) {
                var timestamp = new Date().getTime();
                $("#artimg").attr("src", data + "?" + timestamp); // -> Força um refresh da img
            }
        });

    });

</script>